dist
build
venv
*.pyc
*.pth
*.save
**/.DS_Store
*.DS_store
.coverage
pids
*.db
*.sqlite3
*.log
*.egg*/
*.swp
*.rdb
*.pid
*.sublime-project
*.sublime-workspace
test_hash.py
.idea
logs/*
!logs/.gitkeep
src/celerybeat-schedule
*.bak
*.dat
*.dir